In [23]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

In [24]:
data=pd.read_csv(r"D:\intern\archive (7)\IMDb Movies India.csv",encoding="cp1252")

In [25]:
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
0,,NaN,NaN,Drama,NaN,NaN,J.S. Randhawa,Manmauji,Birbal,Rajendra Bhatia
1,#Gadhvi (He thought he was Gandhi),(2019),109 min,Drama,7.0,8,Gaurav Bakshi,Rasika Dugal,Vivek Ghamande,Arvind Jangid
2,#Homecoming,(2021),90 min,"Drama, Musical",NaN,NaN,Soumyajit Majumdar,Sayani Gupta,Plabita Borthakur,Roy Angana
3,#Yaaram,(2019),110 min,"Comedy, Romance",4.4,35,Ovais Khan,Prateik,Ishita Raj,Siddhant Kapoor
4,...And Once Again,(2010),105 min,Drama,NaN,NaN,Amol Palekar,Rajat Kapoor,Rituparna Sengupta,Antara Mali
...,...,...,...,...,...,...,...,...,...,...
15504,Zulm Ko Jala Doonga,(1988),NaN,Action,4.6,11,Mahendra Shah,Naseeruddin Shah,Sumeet Saigal,Suparna Anand
15505,Zulmi,(1999),129 min,"Action, Drama",4.5,655,Kuku Kohli,Akshay Kumar,Twinkle Khanna,Aruna Irani
15506,Zulmi Raj,(2005),NaN,Action,NaN,NaN,Kiran Thej,Sangeeta Tiwari,NaN,NaN
15507,Zulmi Shikari,(1988),NaN,Action,NaN,NaN,NaN,NaN,NaN,NaN
15508,Zulm-O-Sitam,(1998),130 min,"Action, Drama",6.2,20,K.C. Bokadia,Dharmendra,Jaya Prada,Arjun Sarja

In [26]:
data.dropna(0,inplace=True)

C:\Users\lavan\AppData\Local\Temp\ipykernel_28580\390147944.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only.
  data.dropna(0,inplace=True)

In [27]:
data.columns

Index(['Name', 'Year', 'Duration', 'Genre', 'Rating', 'Votes', 'Director',
       'Actor 1', 'Actor 2', 'Actor 3'],
      dtype='object')

In [38]:
data.dropna(inplace=True)
data['Genre'] = data['Genre'].astype('category').cat.codes
data['Director'] = data['Director'].astype('category').cat.codes
data['Actor 1'] = data['Actor 1'].astype('category').cat.codes
data['Actor 2'] =data['Actor 2'].astype('category').cat.codes
data['Actor 3'] =data['Actor 3'].astype('category').cat.codes
data['Year'] =data['Year'].astype('category').cat.codes
data['Duration'] = data['Duration'].astype('category').cat.codes

In [31]:
le_genre = LabelEncoder()
data['Year']= le_genre.fit_transform(data['Year'])

In [39]:
le_genre = LabelEncoder()
data['Duration']= le_genre.fit_transform(data['Duration'])

In [40]:
data['Year']

1        88
3        88
5        66
6        74
8        81
         ..
15493    84
15494    70
15503    58
15505    68
15508    67
Name: Year, Length: 5659, dtype: int8

In [47]:
data

,Name,Year,Duration,Genre,Rating,Votes,Director,Actor 1,Actor 2,Actor 3
1,#Gadhvi (He thought he was Gandhi),88,9,229,7.0,8,629,1352,2272,319
3,#Yaaram,88,10,184,4.4,35,1335,1198,719,2148
5,...Aur Pyaar Ho Gaya,66,47,157,4.7,827,1530,378,75,2045
6,...Yahaan,74,42,289,7.4,"1,086",2044,692,1112,2524
8,?: A Question Mark,81,156,320,5.6,326,135,1934,1175,1013
...,...,...,...,...,...,...,...,...,...,...
15493,Zubaan,84,15,229,6.1,408,1223,1861,1801,1615
15494,Zubeidaa,70,53,133,6.2,"1,496",2059,763,1619,1184
15503,Zulm Ki Zanjeer,58,25,28,5.8,44,1793,406,754,1685
15505,Zulmi,68,29,38,4.5,655,1025,112,2164,314
15508,Zulm-O-Sitam,67,30,38,6.2,20,895,468,753,303

In [41]:
def remove_parentheses(year):
    try:
        year = re.sub(r"^\(([^()]+)\)$", r"\1", year)
    except:
        pass
    return year

In [42]:

data['Year'] =data['Year'].apply(remove_parentheses)

# Convert the Year column to numerics
data['Year'] = pd.to_numeric(data['Year'])

In [43]:
x=data[['Year', 'Duration', 'Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']]
y=data['Rating']
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [45]:
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import mean_squared_error
print('Mean squared error:', mean_squared_error(y_test, y_pred))

Mean squared error: 1.7193114061223151

In [49]:
new_movie_features = [2023, 120, 1, 2, 3, 4, 5]
new_movie_rating = model.predict([new_movie_features])

print('Predicted rating for the new movie:', new_movie_rating)

Predicted rating for the new movie: [-23.1873657]

C:\Users\lavan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [54]:
label_encoder = LabelEncoder()
data['Genre'] = label_encoder.fit_transform(data['Genre'])
data['Director'] = label_encoder.fit_transform(data['Director'])
data['Actor 1'] = label_encoder.fit_transform(data['Actor 1'])
data['Actor 2'] = label_encoder.fit_transform(data['Actor 2'])
data['Actor 3'] = label_encoder.fit_transform(data['Actor 3'])

# Handle missing values
data.dropna(inplace=True)
from sklearn.preprocessing import LabelEncoder, StandardScaler
# Scale the features
scaler = StandardScaler()
data[['Year', 'Duration']] = scaler.fit_transform(data[['Year', 'Duration']])

In [55]:
x=data[['Year', 'Duration', 'Genre', 'Director', 'Actor 1', 'Actor 2', 'Actor 3']]
y=data['Rating']
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [56]:
model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
from sklearn.metrics import mean_squared_error
print('Mean squared error:', mean_squared_error(y_test, y_pred))

Mean squared error: 1.7193114061223143

In [62]:
# Use the model to predict the rating of a new movie
new_movie_features = [2023, 120, 1, 2, 3, 4, 5]
new_movie_rating = model.predict([new_movie_features])

print('Predicted rating for the new movie:', new_movie_rating)

Predicted rating for the new movie: [-567.80407118]

C:\Users\lavan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(