In [13]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [14]:
data=pd.read_csv(r"D:\intern\archive (7)\car_purchasing.csv",encoding="cp1252")

In [35]:
data

,customer name,customer e-mail,country,gender,age,annual Salary,credit card debt,net worth,car purchase amount,cc_debt_to_net_worth_ratio
0,Martina Avila,cubilia.Curae.Phasellus@quisaccumsanconvallis.edu,27,0,41.851720,62812.09301,11609.380910,238961.2505,35321.45877,0.048583
1,Harlan Barnes,eu.dolor@diam.co.uk,17,0,40.870623,66646.89292,9572.957136,530973.9078,45115.52566,0.018029
2,Naomi Rodriquez,vulputate.mauris.sagittis@ametconsectetueradip...,1,1,43.152897,53798.55112,11160.355060,638467.1773,42925.70921,0.017480
3,Jade Cunningham,malesuada@dignissim.com,41,1,58.271369,79370.03798,14426.164850,548599.0524,67422.36313,0.026296
4,Cedric Leach,felis.ullamcorper.viverra@egetmollislectus.net,26,1,57.313749,59729.15130,5358.712177,560304.0671,55915.46248,0.009564
...,...,...,...,...,...,...,...,...,...,...
495,Walter,ligula@Cumsociis.ca,128,0,41.462515,71942.40291,6995.902524,541670.1016,48901.44342,0.012915
496,Vanna,Cum.sociis.natoque@Sedmolestie.edu,208,1,37.642000,56039.49793,12301.456790,360419.0988,31491.41457,0.034131
497,Pearl,penatibus.et@massanonante.com,144,1,53.943497,68888.77805,10611.606860,764531.3203,64147.28888,0.013880
498,Nell,Quisque.varius@arcuVivamussit.net,24,1,59.160509,49811.99062,14013.034510,337826.6382,45442.15353,0.041480
499,Marla,Camaron.marla@hotmail.com,209,1,46.731152,61370.67766,9391.341628,462946.4924,45107.22566,0.020286

In [15]:
data.columns

Index(['customer name', 'customer e-mail', 'country', 'gender', 'age',
       'annual Salary', 'credit card debt', 'net worth',
       'car purchase amount'],
      dtype='object')

In [16]:
data =data[(data['annual Salary'] >= 20000)&(data['annual Salary'] <= 500000)]
data =data[(data['credit card debt']>= 0)&(data['credit card debt'] <= 300000)]
data =data[(data['net worth'] >= 0)&(data['net worth'] <= 1000000)]

In [17]:
data.fillna(method='ffill', inplace=True)

In [18]:
model = LabelEncoder()
data['country'] = model.fit_transform(data['country'])
model1 = LabelEncoder()
data['gender'] = model1.fit_transform(data['gender'])

In [21]:
data['cc_debt_to_net_worth_ratio'] =data['credit card debt'] /data['net worth']
x_train,x_test,y_train,y_test = train_test_split(data[['annual Salary','credit card debt', 'net worth', 'cc_debt_to_net_worth_ratio', 'country', 'gender']],data['car purchase amount'], test_size=0.3, random_state=42)

In [36]:
x_train

,annual Salary,credit card debt,net worth,cc_debt_to_net_worth_ratio,country,gender
5,68499.85162,14179.472440,428485.3604,0.033092,100,1
116,69175.19403,6039.594519,325701.4083,0.018543,128,1
45,70787.27764,10155.340950,853913.8532,0.011893,183,0
16,63259.87837,11495.549990,370356.2223,0.031039,185,0
462,66680.27410,10263.148990,556945.8742,0.018428,170,0
...,...,...,...,...,...,...
106,51075.46118,12416.848450,450402.2932,0.027568,184,0
270,33422.99683,8570.611562,211168.6293,0.040587,21,0
348,63561.04525,3730.119720,608019.6308,0.006135,112,0
435,41409.29390,8211.340920,421318.9764,0.019490,111,1
102,68289.18229,7357.787011,404457.3099,0.018192,20,1

In [30]:
x_train.shape

(350, 6)

In [31]:
x_test.shape

(150, 6)

In [23]:
model3=LinearRegression()

# Train the model on the training set
model3.fit(x_train, y_train)

# Evaluate the model on the testing set
y_pred = model3.predict(x_test)
print('Mean squared error:', np.mean((y_pred - y_test)**2))

Mean squared error: 43994509.22523701

In [41]:
input=(10000,20000,500000,0.01,0,1)
input1=np.asarray(input)
int2=input1.reshape(1,-1)
int2

array([[1.e+04, 2.e+04, 5.e+05, 1.e-02, 0.e+00, 1.e+00]])

In [48]:
pred=model3.predict(int2)
predict=pred.astype(int)

C:\Users\lavan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [49]:
print('Predicted car purchase amount:', predict)

Predicted car purchase amount: [16298]